body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #add8e6; /* Set default background color (blue) */
}

.countdown-container {
    display: flex;
    align-items: center;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto;
}

.column {
    text-align: center;
    width: 30%; /* Adjust the width as needed */
    padding: 20px;
    border-radius: 10px;
}

.gender-text {
    /* Remove or customize styling for the gender text */
}

.countdown {
    text-align: center;
    flex-grow: 1; /* Allow the countdown to take up remaining space */
    border-radius: 10px;
    background-color: #ffffff; /* White background */
}

#genderContent {
    margin-top: 20px;
}
